<!--Joey Teahan - insecure version - 20520316 
- register.js-->

<!--Register title-->
<h2>Register</h2>

<!--Beginning of register form-->
<form action="/register" method="POST">
  <!--Email input field-->
  Email: <input name="email"><br>

  <!--Password input field-->
  Password: <input type="password" name="password"><br>
  <button type="submit">Register</button>
</form>
<link rel="stylesheet" href="/styles.css">
